<section>
    <h2>Education</h2>
    <div class="line"></div>
    <p>Post-Graduate Program in Digital Experience Design</p>
    <p class="school">Fine-Arts Faculty, University of Lisbon</p>
    <p class="date">2020 — present</p>
    <div class="line"></div>
    <p>Art & Design, Erasmus+ Program</p>
    <p class="school">School of Design, University of Leeds</p>
    <p class="date">2019 — 2020</p>
    <div class="line"></div>
    <p>BA Communication Design</p>
    <p class="school">Fine-Arts Faculty, University of Lisbon</p>
    <p class="date">2017 — 2020</p>
</section>