<footer>
    <div class="contacts">
        <p>Get in Touch!</p>
        <p>rafaelsmontoito@gmail.com</p>
        <a target="_blank" href="https://www.behance.net/rafaelmontoito">Bēhance</a>
        <a target="_blank" href="https://www.linkedin.com/in/rafaelmontoito/">Linkedin</a>
    </div>
    <div class="copyright">
        <p>Font — <a target="_blank" href="https://fonts.google.com/specimen/Syne">Syne</a> — by Bonjour Monde, Lucas Descroix</p>
        <p>© 2021 Rafael Montoito</p>
    </div>
</footer>