<section class="skills">
    <h2>Skills</h2>
    <div class="skills-content">
        <div class="soft-skills">
            <h3>Soft Skills</h3>
            <ul>
                <li>Creativity;</li>
                <li>Critical Thinking;</li>
                <li>Problem Solving;</li>
                <li>Communication;</li>
                <li>Collaboration;</li>
                <li>Organization;</li>
                <li>Adaptability.</li>
            </ul>
        </div>
        <div class="hard-skills">
            <h3>Hard Skills</h3>
            <ul>
                <li>UX/UI Design;</li>
                <li>Editorial Design;</li>
                <li>Branding;</li>
                <li>HTML & CSS;</li>
                <li>Photography;</li>
                <li>Illustration;</li>
                <li>Portuguese (native);</li>
                <li>English (fluent).</li>
            </ul>
        </div>
    </div>
</section>