* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    // height: 99vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5% 35% 25% 25% 10%;
    height: 100%;
}

header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    img {
        width: 300px;
    }
}

.description {
    padding-top: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

main {
    width: 100vw;
}

p {
    @include textbodybase();
    line-height: 24px;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
}

a {
    @include textbodybase();
    @include linktextbase();
}

a:hover {
    color: $accent-color;
}

h1 {
    @include headingbase();
    @include headingbasedisplay();
    font-size: 36px;
    line-height: 46px;
}

h2 {
    @include headingbase();
    @include headingbasedisplay();
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}


h2.designer {
    justify-content: flex-end;
    margin-right: 4%;
}

h2.product {
    justify-content: flex-start;
    margin-left: 4%;
}

h3 {
    @include headingbase();
    font-size: 22px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 15px;

    a {
        font-size: 22px;
        font-weight: 600;
    }
}

.name {
    margin-top: 20px;
}

figure {
    display: flex;
    justify-content: center;
}

ul {
    font-family: Syne, sans-serif;
    font-weight: 500;
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
}

li {
    padding-left: 2%;
    padding-right: 2%;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 4%;
    height: 40px;
    position: sticky;
    top: -1px;
    background-color: $background-color;

    a {
        transition: font-size 1s;
    }

    a:hover {
        font-size: 18px;
    }

    ul {
        list-style-type: none;
        align-self: flex-end;
    }

    .home {
        padding-top: 3px;
        padding-left: 4%;

        a {
            text-decoration: none;
            font-size: 28px;
            color: $accent-color;
        }
    }

    .top-navigation {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    width: 100vw;
}

footer {
    align-self: flex-end;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0px;
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

    .copyright {
        p, a {
            font-size: 13px;
        }
    }
}

.contacts {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
    align-self: center;
    height: 22vh;
    padding-top: 25vh;
    padding-bottom: 25vh;

    p, a {
        font-size: 20px;
        line-height: 32px;
    }
}

.back {
    padding-top: 5%;
}

.project-title {
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 34px;
}

.link-more {
    padding-left: 4%;
    padding-right: 4%;
}