
$font: Syne, sans-serif;

$screensize-medium: 560px;
$screensize-large: 700px;
$screensize-big: 992px;

$background-color: white;
$text-color: black;
$accent-color: blue;

@mixin headingbase {
    font-family: $font;
    font-weight: 600;
    color: $text-color;
}

@mixin headingbasedisplay {
    display: flex;
    justify-content: center;
}

@mixin textbodybase {
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
}

@mixin linktextbase {
    color: $text-color;
    text-decoration: underline;
    cursor: pointer;
}

@import 
"base",
"about",
"projects",
"mediaqueries";